
/* styles.css */


html {
    background-color: #000000;
}

h1 {
    color: whitesmoke;
}

/* Apply some basic styling to the entire table */
.table {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    position: absolute;
    cursor: move; /* Make the tables draggable */
    display: center;
}


/* Style table headers (th) */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}

/* Style table data cells (td) */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Alternate row background color for better readability */
tr:nth-child(even) {
    background-color: #f9f9f9;
}


.ghost-table {
    position: absolute;
    opacity: 0.5; /* Adjust opacity for the ghost effect */
    pointer-events: none; /* Ignore mouse events on the ghost table */
    /* Add any other styling you want for the ghost table */
}

